<link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css" type="text/css"/>
<link rel="stylesheet" th:href="@{/css/main.css}" href="css/main.css" type="text/css"/>
<th:block class="footer_bottom" th:fragment="head">
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright: NewChance
        </div>
        <!-- Copyright -->
      </footer>
</th:block>