.contenidoLogin{
	padding: 20px;
}
body{
  background-image: url("/img/fondoCuenta.jpg");
  background-size: cover;
}
.login {
  margin:0 auto;
  max-width:500px;
  font-family: 'Ubuntu', sans-serif;
}
.login-header {
  color:#fff;
  text-align:center;
}
/* .login-header h1 {
   text-shadow: 0px 5px 15px #000; */

.login-form {
  border:.5px solid #fff;
  background:#4facff;
  border-radius:10px;
  box-shadow:0px 0px 10px #000;
}
.login-form h3 {
  text-align:left;
  margin-left:40px;
  color:rgb(22, 59, 184);
}
.login-form p{
  color: rgb(22, 59, 184);
}
.login-form {
  box-sizing:border-box;
  padding-top:15px;
	padding-bottom:10%;
  margin:5% auto;
  text-align:center;
}
.login input[type="text"],
.login input[type="password"],
.login input[type="password2"],
.login input[type="name"],
.login input[type="surname"],
.login input[type="username"] {
  max-width:400px;
	width: 80%;
  line-height:3em;
  font-family: 'Ubuntu', sans-serif;
  margin:1em 0em;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:5px;
}

.login input[type="radio"] {
  max-width:400px;
  width: 10%;
}

.login-form button {
  height:30px;
  width:100px;
  background:#fff;
  border:2px 2px solid #f2f2f2;
  border-bottom: 2px;
  border-top: 2px;
  border-radius:20px;
  color: slategrey;
  text-transform:uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
}
.sign-up{
  color:#f2f2f2;
  margin-left:-70%;
  cursor:pointer;
  text-decoration:underline;
}