<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style>
        td, th { border: 1px solid grey; text-align: center; border-spacing: 10px;}
        table { padding: 0; }
    </style>
    <title>Administrar Usuario</title>
</head>
<body>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>
    <h3>Administrar - Usuario: <span th:text=${user.username}>A</span></h3>
    <p>Desde aquí el usuario puede cambiar sus datos personales.</p>
    <table>
        <tr>
            <td>
                <p><b>Foto de perfil</b></p>
                <img th:src="@{/perfil/{id}/photo(id=${user.id})}" alt="foto" width="350" height="400"/>
                <p style="text-align: center;">
                <form th:if="${user.enabled == 1}" method="post" th:action="@{'/admin/banearUsuario/' + ${user.id}}">
                    <input type="hidden" name="idUSer" th:value="${user.id}">
                    <input type="submit" value="Banear" style= "margin: 5px;">
                </form>
                <form th:if="${user.enabled == 0}" method="post" th:action="@{'/admin/banearUsuario/' + ${user.id}}">
                    <input type="hidden" name="idUSer" th:value="${user.id}">
                    <input type="submit" value="Activar Usuario" style= "margin: 5px;">
                </form>  
                    <button style= "margin: 5px;">Mensaje</button>
                </p>
            </td>
            <td>
                    <h4>Información del perfil</h4>
                    <p>
                        Usuario: <span th:text=${user.username}>A</span>
                    </p>
                    <p>
                        Nombre: <span th:text=${user.nombre}>A</span>
                    </p>
                    <p>
                        Apellidos: <span th:text=${user.apellidos}>A</span>
                    </p> 
            </td>
            <td>
                <p>
                    <b>Pujas Activas:</b>
                    <table>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre Producto</th>
                            <th>Puja(€)</th>
                            <!--<th>Puja más alta(€)</th>
                            <th>Precio más bajo(€)</th>-->
                            <th>Expiración(Días)</th>
                        </tr>
                        <tr th:each="p: ${pujas}">
                            <td><img th:src="@{/producto/{id}/photo(id=${p.producto.id})}" alt="foto" width="100" height="150"/></td>
                            <td><a th:href="@{'/producto/' + ${p.producto.id}}" th:text="${p.producto.nombre}">N</a></td>
                            <td th:text="${p.precio}">D</td>
                            <!--<td th:text="${p.mejorPuja}">D</td>
                            <td th:text="${p.menorPrecio}">D</td>-->
                            <td th:text="${p.fechaExpiracion}">C</td>
                        </tr>
                    </table>
                </p>
                <p>
                    <b>Productos que vende:</b> <button>Ver todo</button>
                    <table>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre Producto</th>
                            <th>Venta(€)</th>
                           <!-- <th>Puja más alta(€)</th>
                            <th>Precio más bajo(€)</th>-->
                            <th>Expiración(Días)</th>
                        </tr>
                        <tr th:each="p: ${precios}">
                            <td><img th:src="@{/producto/{id}/photo(id=${p.producto.id})}" alt="foto" width="100" height="150"/></td>
                            <td><a th:href="@{'/producto/' + ${p.producto.id}}" th:text="${p.producto.nombre}">N</a></td>
                            <td th:text="${p.precio}">D</td>
                            <!--<td th:text="${p.producto.highestBid}">D</td>
                            <td th:text="${p.producto.lowestAsk}">D</td>-->
                            <td th:text="${p.fechaExpiracion}">F</td>
                        </tr>
                    </table>
                </p>
            </td>
        </tr>
    </table>
    <th:block th:replace="frags/pie.html">
    Aqui va lo que hay en header, esto no se ve
    </th:block>
</body>
</html>