<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Administrador Usuarios</title>
</head>
<body>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>

    <div>
        <div>
            <b>Buscador</b>
            <button>Buscar</button>
        </div>
        <div>
            <b>Lista de usuarios:</b>
            <button>Filtro</button>
        </div>

        <div th:each="u: ${users}">
            <div>
                <img th:src="@{/perfil/{id}/photo(id=${u.id})}" alt="foto" width="100" height="150"/>
                <p> <span th:text="${u.nombre}"></span> <span th:text="${u.apellidos}"></span></p>
                <button class="btn btn-lg btn-primary btn-block" type="button"> <a th:href="@{'/admin/administrarUsuario/' + ${u.id}}">Administrar Usuario </a></button>
            </div>
        </div>

    </div>
    <div>
        <th:block th:replace="frags/pie.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>
</body>
</html>