<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Mensajes</title>
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
	<link rel ="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
	<link rel="stylesheet" th:href="@{/css/main.css}" href="css/main.css" type="text/css"/>
	<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
	<link rel ="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
	<link rel ="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
</head>
<body>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>
	
	<div class="container">
    <div class="main">
    <h1>Mensajes recibidos</h1>
        
    <table id="datatable" class="display" style="width:100%"></table>
		
	<div class="sidebar">
			<form th:action="@{/admin/idOfTarget/msg}" method="POST">
	
			<select id="idOfTarget" onchange="changeFunc();">
				<option th:each="user: ${users}" th:value="${user.id}" th:text="${user.username}">mfreire</option>
			</select>
			<textarea id="men" style="display:none;" placeholder="Escribe el mensaje" rows="4" cols="20"></textarea>
			<button id="sendmsg" style="display:none;" type="submit">Enviar</button>
			</form>
		</div>
        </div>
	</div>	

	<script th:inline="javascript">

	function formatDate(d) {
		// 2020-03-23T10:48:11.074 => 10:48:18
		return new Date(d).toLocaleString("es-ES").split(" ")[1]
	}

    function changeFunc() { //En caso de ser canal admin, no puedes enviar ningún mensaje
		dt.clear().draw();
		var selectBox = document.getElementById("idOfTarget");
		var selectedValue = selectBox.options[selectBox.selectedIndex].value;
		console.log(dt);
		if(selectedValue == "0"){
			document.getElementById('men').style.display = "none";
			document.getElementById('sendmsg').style.display = "none";
		}
		else{
			document.getElementById('men').style.display = "block";
			document.getElementById('sendmsg').style.display = "block";
		}
		adminReceived();
   }

   function adminReceived(){ //Función que agrega las filas ordenadas por fecha de envío
	var selectBox = document.getElementById("idOfTarget");
	var selectedValue = selectBox.options[selectBox.selectedIndex].value;
	$.get("/chat/adminReceived/" + selectedValue, function(data){
			for (let i=0; i<data.length; i++) {
				let row = data[i];
				row.sent = formatDate(row.sent);
				if (row.received) {
					row.received = formatDate(row.received);
				}
				console.log(row);
				let newRow = dt.row.add({from : row.from, sent : formatDate(new Date().toISOString()) , text : row.text}).draw().node();
				if(row.from == username){
					$(newRow).addClass("table-info");
				}
				else{
					$(newRow).addClass("table-success");
				}
			}
		})
   }
   var username = [[${username}]];

    var dt = $('#datatable').DataTable( { //Inicializa datatable
	columns: [
	{ data: 'from' },
	{ data: 'sent' },
	{ data: 'text' },
 	],
	"stripeClasses": [],
	"aaSorting": []
   	} );

	$(function() { //Genera las filas del datatable
		adminReceived()
	});

	// envío de mensajes vía AJAX, sin recargar la página
	document.addEventListener("DOMContentLoaded", () => {
		let b = document.getElementById("sendmsg");
		b.onclick = (e) => {
			let selectBox = document.getElementById("idOfTarget");
			let receptor = selectBox.options[selectBox.selectedIndex].text;
			let idOfTarget = document.getElementById("idOfTarget").value;
			let url = b.parentNode.action.replace("idOfTarget", idOfTarget);
			console.log(url);
			e.preventDefault();
			console.log(b, b.parentNode);
			let newRow = dt.row.add({from : username, sent : formatDate(new Date().toISOString()), text : document.getElementById("men").value}).draw().node();
			$(newRow).addClass("table-info");
			console.log(dt);
			go(url, 'POST', {men: 
					document.getElementById("men").value})
				.then(d => console.log("happy", d))
				.catch(e => console.log("sad", e))
		}
	});

	ws.receive = (m) => { //Recibe un json por parte de un canal suscrito
		console.log(m);
		//En caso de que el mensaje sea para el canal de admin ó el mensaje se envíe por el usuario del chat y no sea para el canal de admin
		if(document.getElementById("idOfTarget").value == m.to || (document.getElementById("idOfTarget").value == m.fromId && m.to != "0")){
			let newRow = dt.row.add({from : m.from, sent : formatDate(new Date().toISOString()), text : m.text}).draw().node();
			$(newRow).addClass("table-success");
		}		
	}
	</script>
</body>
</html>