<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Administrar Usuario</title>
</head>
<body>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>

    <div class="container-fluid">
        <h3 class="text-center mt-4">Administrar - Usuario: <span th:text=${user.username}>A</span></h3>
        <div class="row align-items-center mt-5 ms-5 me-5 mb-1 border rounded p-3">
            <div class="col-4 text-center img-fluid">
                <p><b>Foto de perfil</b></p>
                <img th:src="@{/perfil/{id}/photo(id=${user.id})}" class="mb-3" alt="foto" width="250" height="300"/>
            </div>
            <div class="col-8 align-items-center text-center border-left">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <p class="h2">
                                Nombre: <span th:text=${user.nombre}>A</span>
                            </p>
                            <p class="h2">
                                Apellidos: <span th:text=${user.apellidos}>A</span>
                            </p>
                        </div>
                        <div class="row mt-4">
                            <div class="col">                            
                            </div>
                            <div class="col">                            
                                <form id = "form" th:if="${user.enabled == 1}" method="get" th:action="@{'/admin/banearUsuario/' + ${user.id}}">
                                    <input id = "name" type="hidden" name="idUSer" th:value="${user.id}">
                                    <input id ="submit" type="submit" onClick="changeInput(event);" class="btn btn-primary btn-xs col-lg-12" value="Banear" style= "margin: 5px;">
                                </form>
                                <form id = "form" th:if="${user.enabled == 0}" method="get" th:action="@{'/admin/banearUsuario/' + ${user.id}}">
                                    <input id = "name" type="hidden" name="idUSer" th:value="${user.id}">
                                    <input id ="submit" type="submit" onClick="changeInput(event);" class="btn btn-primary btn-xs col-lg-12" value="Activar Usuario" style= "margin: 5px;">
                                </form>  
                            </div>
                            <div class="col">                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col text-center mt-5 ml-5 mr-5 mb-1 border rounded pb-3 mb-5">
                <p>
                    <b class="font-monospace fs-4 align-items-center">Pujas Activas:</b> 
                    <table class="tabla_productos table align-left table-borderless text-center container-fluid">
                       <thead>
                            <tr class="d-flex m-3">
                                <th class="col-2"></th>
                                <th class="col-2">Imagen</th>
                                <th class="col-2">Nombre Producto</th>
                                <th class="col-2">Puja(€)</th>
                                <th class="col-2">Expiración</th>
                                <th class="col-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex m-3 p-3 align-items-center" th:each="p: ${pujas}">
                                <td class="col-2"></td>
                                <td class="col-2 align-middle align-items-center"><img th:src="@{/producto/{id}/photo(id=${p.producto.id})}" alt="foto" width="150" height="150"/></td>
                                <td class="col-2 align-middle align-items-center"><a th:href="@{'/producto/' + ${p.producto.id}}" th:text="${p.producto.nombre}">N</a></td>
                                <td class="col-2 align-middle align-items-center" th:text="${p.precio}">D</td>
                                <td class="col-2 align-middle align-items-center" th:text="${#temporals.format(p.fechaExpiracion, 'dd-MM-yyyy')}">C</td>
                                <td class="col-2"></td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col text-center mt-5 ml-5 mr-5 mb-1 border rounded pb-3 mb-5">
                <p>
                    <b class="font-monospace fs-4 align-items-center">Productos que esta vendiendo:</b> <!--<button class="btn btn-success btn-xs tiendaCompraAhora">Ver todo</button>-->
                    <table class="tabla_productos table align-middle table-borderless text-center container-fluid">
                        <thead>
                            <tr class="d-flex m-3">
                                <th class="col-2"></th>
                                <th class="col-2">Imagen</th>
                                <th class="col-2">Nombre Producto</th>
                                <th class="col-2">Venta(€)</th>
                                <th class="col-2">Expiración</th>
                                <th class="col-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex m-3 p-3 align-items-center" th:each="p: ${precios}">
                                <td class="col-2"></td>
                                <td class="col-2 align-middle align-items-center"><img th:src="@{/producto/{id}/photo(id=${p.producto.id})}" alt="foto" width="150" height="150"/></td>
                                <td class="col-2 align-middle align-items-center"><a th:href="@{'/producto/' + ${p.producto.id}}" th:text="${p.producto.nombre}">N</a></td>
                                <td class="col-2 align-middle align-items-center" th:text="${p.precio}">D</td>
                                <td class="col-2 align-middle align-items-center" th:text="${#temporals.format(p.fechaExpiracion, 'dd-MM-yyyy')}">F</td>
                                <td class="col-2"></td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
    <script>
        function changeInput(e){
            e.preventDefault();
            let value = document.getElementById("name").value;
            $.get("/admin/banearUsuario/" + value, function(data){
		    });
            if(document.getElementById("submit").value == "Activar Usuario"){
                document.getElementById("submit").value = "Banear";
            }
            else{
                document.getElementById("submit").value = "Activar Usuario";
            }
        };

    </script>
    <th:block th:replace="frags/pie.html">
    Aqui va lo que hay en header, esto no se ve
    </th:block>
</body>
</html>