<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Mensajes</title>
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
	<link rel ="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
	<link rel="stylesheet" th:href="@{/css/main.css}" href="css/main.css" type="text/css"/>
	<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
	<link rel ="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
	<link rel ="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
</head>
<body>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>
	
	<div class="container-fluid text-center align-middle align-items-center">
		<div class="main">
			<h1 class="font-monospace col-12 pt-4">Mensajes</h1>
			
			<table id="datatable" class="display" style="width:100%"></table>
			
			<div class="sidebar" th:if="${session.u.hasRole('ADMIN')}">
				Eres un administrador, no puedes utilizar Atención al Cliente.
			</div>

			<div class="sidebar" th:if="${session.u.hasRole('USER')}">
				<form th:action="@{/perfil/chatconadmin}" method="POST">
				<p class="pt-3"><textarea id="men" class="form-control" placeholder="Escribe el mensaje" rows="4" cols="20"></textarea></p>
				<p class="pt-3"><button id="sendmsg2" class="btn btn-primary" type="submit">Enviar</button></p>
				</form>
			</div>
		</div>
	</div>	

	<script th:inline="javascript">

	function formatDate(d) {
		// 2020-03-23T10:48:11.074 => 10:48:18
		return new Date(d).toLocaleString("es-ES").split(" ")[1];
	}

    function asignarAdmin(from) { //Función auxiliar que asigna al admin que ha contestado, todos los próximos mensajes del cliente
		admin = from;
		console.log(from);
	}

	//Variables globales
	var admin = [[${adminId}]]; // 0 Si no está definido ningún admin, x si está definido
	var username = [[${username}]]; // El username del usuario con session 

	var dt = $('#datatable').DataTable( { //Inicializada database
	columns: [
	{ data: 'from' },
	{ data: 'sent' },
	{ data: 'text' },
 	],
	"stripeClasses": [],
    "aaSorting": []
   	});
	$(function() { //función que agrega todas las filas al database
		$.get("/chat/userReceived/" + admin, function(data){
		for (let i=0; i<data.length; i++) {
			let row = data[i];
			row.sent = formatDate(row.sent);
			if (row.received) {
				row.received = formatDate(row.received);
			}
			console.log(row);
			let newRow = dt.row.add({from : row.from, sent : row.sent , text : row.text}).draw().node();
			if(row.from == username){ //Los mensajes que envías, se le asignan un color
				$(newRow).addClass("table-info");
			}
			else{
				$(newRow).addClass("table-success");
			}
		}
	})
	});

	// envío de mensajes vía AJAX, sin recargar la página
	document.addEventListener("DOMContentLoaded", () => {
		let b = document.getElementById("sendmsg2");
		b.onclick = (e) => {
			e.preventDefault(); //Ignora el action del formulario

			let newRow = dt.row.add({from : username, sent : formatDate(new Date().toISOString()), text : document.getElementById("men").value}).draw().node();
			$(newRow).addClass("table-info");
			if(admin == 0){ //Mensajes para enviar al canal de admin
				console.log(b, b.parentNode)
				go("/perfil/chatconadmin", 'POST', {men: 
						document.getElementById("men").value})
					.then(d => console.log("happy", d))
					.catch(e => console.log("sad", e))
			}
			else{ //Mensajes para enviar a un admin en concreto
				console.log(b, b.parentNode)
				go("/perfil/" + admin + "/msg", 'POST', {men: 
						document.getElementById("men").value})
					.then(d => console.log("happy", d))
					.catch(e => console.log("sad", e))
			}
		}
	});

	ws.receive = (m) => {
		let newRow = dt.row.add({from : m.from, sent : formatDate(new Date().toISOString()), text : m.text}).draw().node();
		$(newRow).addClass("table-success");
		if(admin != m.fromId && admin == 0){ //Le asignara los mensajes al primer admin que le hable
			asignarAdmin(m.fromId);
		}
	}
	</script>


	<th:block th:replace="frags/pie.html">
	Aqui va lo que hay en header, esto no se ve
	</th:block>

</body>
</html>
