<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style>
        td { padding: 1em; }
        table { padding: 1em; }
    </style>
    <title>Finalizar Compra</title>
</head>
<body>
    <nav th:replace="frags/nav.html :: nav">
		Nav goes here
	</nav>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>
    <h4>Finalizar compra:</h4>
    <table>
        <tr>
            <td><b><span th:text="${prod.nombre}">N</span></b></td>
            <td><b>Revisión de la compra:</b></td>
        </tr>
        <tr>
            <td>
                <!--<p><b><span th:text="${prod.nombre}">N</span></b></p>-->
                <p th:if="${menorPrecio != 0}">Precio mas bajo: <span th:text="${menorPrecio} ">LA</span>€</p>
                <p th:if="${menorPrecio == 0}">Precio mas bajo: --- €</p>
                <p th:if="${mejorPuja != 0}">Puja más alta: <span th:text="${mejorPuja} ">LA</span>€</p> 
                <p th:if="${mejorPuja == 0}">Puja mas alta: --- € </p>
                <p><span th:text="${prod.talla}">N</span>EUR</p>
                <p><img src="../static/img/yeezy700.png" th:src="@{/img/yeezy700.png}" alt="foto"/></p>
            </td>
            <td>
                <!-- <p><b>Revisión de la venta:</b></p> -->
                <p>Precio de la compra: <span th:text="${menorPrecio}">LA</span>€</p>
                <p>Impuestos (9%): - 30€</p>
                <p>Envio: - 10€</p>
                <p>Pago final: <b>470€</b></p>
            </td>
            <td>
                <p>Esta compra reducirá tu saldo en 470€</p>
                <button>Confirmar compra</button>
            </td>

        </tr>
    </table>

    <th:block th:replace="frags/pie.html">
        Aqui va lo que hay en header, esto no se ve
    </th:block>
</body>
</html>