<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style>
        td, th { border: 1px solid grey; text-align: center; border-spacing: 10px;}
        table { padding: 0; }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Fijar precio del producto</title>
</head>
<body>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>

    <div class="container-fluid">
        <div class="row align-items-center mt-5 ml-5 mr-5 mb-1 border rounded pb-3 mb-5">
            <div class="col-4 text-center img-fluid p-3">
                <div class="col-12 pb-2">
                    <p th:if="${menorPrecio != 0}">Precio mas bajo: <span th:text="${menorPrecio} ">LA</span>€</p>
                    <p th:if="${menorPrecio == 0}">Precio mas bajo: --- €</p>
                    <p th:if="${mejorPuja != 0}">Puja más alta: <span th:text="${mejorPuja} ">LA</span>€</p> 
                    <p th:if="${mejorPuja == 0}">Puja mas alta: --- € </p> 
                </div>
                <img class="rounded p-2" th:src="@{/producto/{id}/photo(id=${prod.id})}" alt="foto" width="250" height="300"/>
            </div>
            <div class="col-8 text-center border-left justify-content-center">
                <div class="row align-items-center m-4">
                    <div class="col-12">
                        <p class="h1 font-monospace fw-bold" th:text="${prod.nombre}"><b>Producto</b></p>
                    </div>
                    <div class="col-12">
                        <p>Talla: <span th:text="${prod.talla}">N</span></p>
                    </div>
                </div>
                <form class="justify-content-center" method="post" th:action="@{'/oferta/fijarPrecio/' + ${prod.id}}">
                    <div class="row">
                        <div class="col-12">
                            <h4>Información sobre el precio</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>Ten en cuenta que el precio que establezcas no sera el dinero que recibiras.
                            Al precio establecido se le restara el 9% de tasas y 10€ de envio.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col row justify-content-center pb-2">
                            <div class="input-group align-items-center">
                                <label for="precio" class="sr-only">Precio de puja: </label>
                                <input type="text" id="precio" name="precio" 
                                class="form-control" placeholder="Precio" required="required"></input>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>

                    <div class="row">
                        <div class="col"></div>
                            <div class="col row justify-content-center pb-2">
                                <label for="tiempoExpiracion" >Tiempo de expiración (dias): </label>
                                <select name="tiempoExpiracion" class="form-select" aria-label="Default select example">
                                    <option value="1">1</option>
                                    <option value="3">3</option>
                                    <option selected value="7">7</option>
                                    <option value="14">14</option>
                                    <option value="30">30</option>
                                    <option value="60">60</option>
                                </select>
                            </div>
                        <div class="col"></div>
                    </div>
                        <button class="btn btn-primary btn-xs" id="precioProducto" type="submit">Pujar</button>  
                </form>
            </div>
        </div>  
    </div>


    <th:block th:replace="frags/pie.html">
    Aqui va lo que hay en header, esto no se ve
    </th:block>
</body>
</html>