<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>IW: Plantilla</title>
</head>
<body>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>
	<div class="container-fluid">
		<div class="col-12 text-center">
			<div class="row align-items-center border-bottom pb-4">
				<h1 class="sitename mt-3" >Bienvenido a  <span class="sitename">NewChance</span></h1>
				<p class="mt-4 mb-4"> Proyecto de la asignaruta IW de la Universidad Complutense de Madrid </p>
				<!--<img th:src="@{../static/img/logoucm.jpg}" alt="foto" width="350" height="400"/>-->
				<h3 class="mb-4"> Integrantes </h3>
				<div class="row">
					<div class="col-3"></div>
					<div class="col-2">
						<p> Daniel Sanz Mayo </p>
					</div>
					<div class="col-2">
						<p> Sergio Morán Agüero </p>
					</div>
					<div class="col-2">
						<p> Jin Tao Peng Zou </p>
					</div>
					<div class="col-3"></div>
				</div>
				<div class="row">
					<div class="col-4"></div>
					<div class="col-2">
						<p> Jin Wang Xu </p>
					</div>
					<div class="col-2">
						<p> Alvaro Casado Molinero </p>
					</div>
					<div class="col-4"></div>
				</div>
					<!--SI QUEREIS PODEMOS PONER UNAS FOTOS PARA OCUPAR MAS-->
			</div>
		</div>
	</div>
		
	<footer th:replace="frags/pie.html">
		Footer goes here
	</footer>
</body>
</html>
