<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style>
        td { padding: 1em; }
        table { padding: 1em; }
        .in_table {border: 1px solid grey; text-align: center;}
    </style>
    <title>Precio de un producto</title>
</head>
<body>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>

    <div class="container-fluid">
        <div class="row align-items-center mt-5 ml-5 mr-5 mb-4 border rounded p-3">
            <div class="col-4 text-center img-fluid">
                <img class="rounded p-2" th:src="@{/producto/{id}/photo(id=${prod.id})}" alt="foto" width="300"/>
            </div>
            <div class="col-8 border-left">
                <div class="row text-center m-4">
                    <p class="h1 font-monospace fw-bold"><span th:text="${prod.nombre}">N</span></p>
                </div>
                <div class="row text-center">
                    <div class="col border m-3 align-middle align-items align-items-center text-center">
                        <div class="row mt-3">
                            <p class="h3">Precios Activos:</p>
                        </div>
                        <div class="row m-2" th:each="p: ${precios}">
                            <div class="col m-1">
                                <span class="h4" th:text="${p.precio}">N</span>€
                            </div>
                        </div>
                    </div>

                    <div class="col m-3">
                        <div class="row m-3">
                            <div class="col">
                                <p th:if="${menorPrecio != 0}"> 
                                    <a class="productoComprarYa btn btn-success btn-xs col-lg-12" th:href="@{'/producto/compra/' + ${prod.id}}" role="button"  style="margin-bottom:4px;white-space: normal;">Comprar ya
                                        <br><span th:text="${menorPrecio}"> LA</span>€
                                    </a></p>
                                <p th:if="${menorPrecio == 0}"> <a class="productoComprarYa btn btn-success disabled btn-xs col-lg-12" th:href="@{'/producto/compra/' + ${prod.id}}" role="button" aria-disabled="true"  style="margin-bottom:4px;white-space: normal;">Comprar ya
                                    <br>--- €
                                </a> </p>
                            </div>

                        </div>
                        <div class="row m-3">
                            <div class="col">
        
                                <a class="pujarProducto btn btn-outline-success col-lg-12" th:href="@{'/oferta/pujar/' + ${prod.id}}" role="button">Pujar</a>
        
                            </div>
                        </div>
                    </div>
                </div>    
                
            </div>
        </div>
    </div>

    <!--
    <h4>Precio:</h4>
    <div>Esta vista mostrará el historial de los precios que tiene un producto específico</div>
    <table>
        <tr>    
            <td>
                <p><b><span th:text="${prod.nombre}">N</span></b></p>
                <p th:if="${menorPrecio != 0}">Precio mas bajo: <span th:text="${menorPrecio} ">LA</span>€</p>
                <p th:if="${menorPrecio == 0}">Precio mas bajo: --- €</p>
                <p th:if="${mejorPuja != 0}">Puja más alta: <span th:text="${mejorPuja} ">LA</span>€</p> 
                <p th:if="${mejorPuja == 0}">Puja mas alta: --- € </p>  
                <p><img th:src="@{/producto/{id}/photo(id=${prod.id})}" alt="foto" width="350" height="400"/></p>
            </td>
            <td>
                <button><a th:href="@{'/oferta/fijarPrecio/' + ${prod.id}}">Fijar precio</a></button>
                <button th:if="${menorPrecio != 0}"><a th:href="@{'/producto/compra/' + ${prod.id}}">Comprar ya</a></button>
                <b><p></p></b>

                <table class="in_table">
                    <tr> 
                        <td>
                            <p>Talla</p>
                        </td>
                        <td>
                            <p>Precio</p>
                        </td>
                    </tr>

                    <tr th:each="p: ${precios}">    
                        <td>
                            <span th:text="${prod.talla}">N</span>
                        </td>
                        <td>
                           <span th:text="${p.precio}">N</span>€
                        </td>
                    </tr>

                </table>
                

            </td>
            <td style="vertical-align:top">
                <p>Saldo disponible: 800 €</p> 
            </td>
        </tr>
    </table>
-->

    <th:block th:replace="frags/pie.html">
        Aqui va lo que hay en header, esto no se ve
    </th:block>
</body>
</html>