<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style>
        td { padding: 1em; }
        table { padding: 1em; }
        .in_table {border: 1px solid grey; text-align: center;}
    </style>
    <title>Puja de un producto</title>
</head>
<body>
    <nav th:replace="frags/nav.html :: nav">
		Nav goes here
	</nav>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>
    <h4>Puja:</h4>
    <div>Esta vista mostrará el historial de las pujas que tiene un producto específico</div>
    <div>Será muy parecida al de mostrar los precios marcados por los vendedores sobre este producto</div>
    <table>
        <tr>    
            <td>
                <p><b><span th:text="${prod.nombre}">N</span></b></p>
                <p th:if="${menorPrecio != 0}">Precio mas bajo: <span th:text="${menorPrecio} ">LA</span>€</p>
                <p th:if="${menorPrecio == 0}">Precio mas bajo: --- €</p>
                <p th:if="${mejorPuja != 0}">Puja más alta: <span th:text="${mejorPuja} ">LA</span>€</p> 
                <p th:if="${mejorPuja == 0}">Puja mas alta: --- € </p>
                <p><img th:src="@{/producto/{id}/photo(id=${prod.id})}" alt="foto" width="350" height="400"/></p>
            </td>
            <td>
                <button><a th:href="@{'/oferta/pujar/' + ${prod.id}}">Pujar</a></button>
                <button th:if="${mejorPuja != 0}"><a th:href="@{'/producto/venta/' + ${prod.id}}">Vender ya</a></button>
                <p><input type="text"> €</input></p>
                <b><p>Pujas Activas</p></b>

                <table class="in_table">
                    <tr> 
                        <td>
                            <p>Talla</p>
                        </td>
                        <td>
                            <p>Puja</p>
                        </td>
                    </tr>

                    <tr th:each="p: ${pujas}">    
                        <td>
                            <span th:text="${prod.talla}">N</span>
                        </td>
                        <td>
                           <span th:text="${p.precio}">N</span>€
                        </td>
                    </tr>

                </table>
                

            </td>
            <td style="vertical-align:top">
                <p>Saldo disponible: 800 €</p>
            </td>
        </tr>
    </table>

    <th:block th:replace="frags/pie.html">
        Aqui va lo que hay en header, esto no se ve
    </th:block>
</body>
</html>