<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ventas de un producto</title>
</head>
<body>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>

    <div class="container-fluid">
        <div class="row align-items-center mt-5 ml-5 mr-5 mb-4 border rounded p-3">
            <div class="col-4 text-center img-fluid">
                <img class="rounded p-2" th:src="@{/producto/{id}/photo(id=${prod.id})}" alt="foto" width="300"/>
            </div>
            <div class="col-8 border-left">
                <div class="row text-center m-4">
                    <p class="h1 font-monospace fw-bold"><span th:text="${prod.nombre}">N</span></p>
                </div>
                <div class="row text-center">
                    <div class="col border m-3 align-middle align-items align-items-center text-center">
                        <div class="row mt-3">
                            <p class="h3 mb-3">Ultimas ventas:</p>
                            <div class="col m-1">
                                <span class="h5">Precio</span>
                            </div>

                            <div class="col m-1">
                                <span class="h5">Fecha</span>
                            </div>
                        </div>
                        <div class="row m-2" th:each="v: ${ventas}">
                            <div class="col m-1">
                                <span class="h4" th:text="${v.precio}">N</span>€
                            </div>
                            <div class="col m-1">
                                <span class="h6" th:text="${#temporals.format(v.fechaTransaccion, 'dd-MM-yyyy')}">N</span>
                            </div>
                        </div>
                    </div>

                    <div class="col m-3">
                        <div class="row m-3">
                            <div class="col">
                                <p th:if="${mejorPuja != 0}">
                                    <a class="btn btn-danger btn-xs col-lg-12" th:href="@{'/producto/venta/' + ${prod.id}}" role="button"  style="margin-bottom:4px;white-space: normal;">Vender ya
                                        <br><span th:text="${mejorPuja}"> HB</span>€  
                                    </a></p>
                                <p th:if="${mejorPuja == 0}"> 
                                    <a class="btn btn-danger disabled btn-xs col-lg-12" th:href="@{'/producto/venta/' + ${prod.id}}" role="button" aria-disabled="true"  style="margin-bottom:4px;white-space: normal;">Vender ya <br>--- € </a></p>
                            </div>

                        </div>
                        <div class="row m-3">
                            <div class="col">

                                <p th:if="${menorPrecio != 0}"> 
                                    <a class="productoComprarYa btn btn-success btn-xs col-lg-12" th:href="@{'/producto/compra/' + ${prod.id}}" role="button"  style="margin-bottom:4px;white-space: normal;">Comprar ya
                                        <br><span th:text="${menorPrecio}"> LA</span>€
                                    </a></p>
                                <p th:if="${menorPrecio == 0}"> <a class="productoComprarYa btn btn-success disabled btn-xs col-lg-12" th:href="@{'/producto/compra/' + ${prod.id}}" role="button" aria-disabled="true"  style="margin-bottom:4px;white-space: normal;">Comprar ya
                                    <br>--- €
                                </a> </p>
                            </div>
                        </div>
                    </div>
                </div>    
                
            </div>
        </div>
    </div>
    <th:block th:replace="frags/pie.html">
        Aqui va lo que hay en header, esto no se ve
    </th:block>
</body>
</html>