<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" href="css/login.css" type="text/css"/>
  </head>
  <body>
     <div class="login">
       <div class="login-header">
        <h1>Please log in</h1>
        <form class="login-form" method="post" th:action="@{/login}">
          <h3>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" 
              placeholder="Username" required="required"></input>
          </h3>
          <h3>
            <label for="password" id="password">Password</label>
            <input type="password" id="password" name="password" 
              placeholder="Password" required="required"></input>
          </h3>
          <button type="submit">Login</button>
        </form>
        <p>¿Aun no estas registrado?</p><a th:href="@{/registro}" href="/registro">Registrate Aqui</a>
      </div>
    </div>
</body></html>