<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" href="css/login.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div>
      <th:block th:replace="frags/header.html">
          Aqui va lo que hay en header, esto no se ve
      </th:block>
    </div>
    <div class="login-dark">
      <form  method="post" th:action="@{/login}">
        <h2 class="sr-only">Login form</h2>
          <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
          <div class="form-group">
            <input type="text" class="form-control" id="username" name="username" 
               placeholder="Nombre de Usuario" required="required"></input>
            </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" 
               placeholder="Contraseña"  required="required"></input>
          </div>
          <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary btn-block"></input>
          </div>
          <p class="forgot">¿Aun no estas registrado?</p><a class="text-center" th:href="@{/registro}" href="/registro">Registrate Aqui</a>
        </form>
    </div>
    <div>
      <th:block th:replace="frags/pie.html">
          Aqui va lo que hay en header, esto no se ve
      </th:block>
    </div>
  </body></html>