<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style>
        td, th { border: 1px solid grey; text-align: center; border-spacing: 10px;}
        table { padding: 0; }
    </style>
    <link rel="stylesheet" th:href="@{/css/error.css}" href="css/error.css" type="text/css"/>
    <title>Modificar un producto</title>
</head>
<body>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>
    <div class="container-fluid">
        <div class="row align-items-center mt-5 ml-5 mr-5 mb-1 border rounded p-3 mb-5">
            <div class="col-4 text-center img-fluid  border-right">
                <p class="font-monospace fw-bold" th:text="${prod.nombre}"><b>Producto</b></p>
                <img class="mb-4" th:src="@{/producto/{id}/photo(id=${prod.id})}"  width="250" height="300">
                <form th:action="@{/producto/{id}/photo(id=${prod.id})}" method="POST" enctype="multipart/form-data">
                    Nueva foto <input type="file" name="photo"/>
                <button class=" btn btn-primary btn-xs mt-4" type="submit">Actualizar</button>
                </form>
            </div>
            <div class="col-8 text-center">
                <div class="row align-items-center m-4">
                    <div class="col-12">
                        <h4>Información del producto</h4>
                        <form method="post" th:action="@{'/admin/modificarProducto/' + ${prod.id}}">
                        <div class="row">
                            <div class="col">
                                <p> <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre del producto" required="required"></input></p>
                            </div>
                            <div class="col">
                                <p><input type="text" id="categorias" name="categorias" class="form-control" placeholder="Categoria" required="required"></input> </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p><input type="text" id="desc" name="desc" class="form-control" placeholder="Descripcion" required="required"></input></p>
                            </div>
                            <div class="col">
                                <p><input type="text" id="talla" name="talla" class="form-control" placeholder="Talla" required="required"></input></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-6">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Modificar Producto</button>
                            </div>
                            <div class="col"></div>
                        </div>
                        </form>

                        <div th:if="${errorP==1}"  class="container-fluid text-center align-middle align-items-center">
                            <div class="row m-5 pb-3 border border-danger border-5 rounded">
                                <div class="col-12 mt-3">
                                    <h2 class="font-monospace" >ERROR: El producto ya existe.</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="frags/pie.html">
    Aqui va lo que hay en header, esto no se ve
    </th:block>
</body>
</html>