<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style>
        td, th { border: 1px solid grey; text-align: center; border-spacing: 10px;}
        table { padding: 0; }
    </style>
    <title>Modificar un producto</title>
</head>
<body>
    <nav th:replace="frags/nav.html :: nav">
		Nav goes here
	</nav>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>
    <h3>Modificar Producto</h3>
    <p>Con este formulario el administrador podrá modificar un producto de la tienda, rellenando los requisitos necesarios para que sea valido.</p>
    <table>
        <tr>
            <td>
                <p>Foto del producto</p>
                <!--<img src="../static/img/yeezy700.png" th:src="@{/img/yeezy700.png}" alt="foto" width="350" height="400"/>
                <p style="text-align: center;"><button>Seleccionar foto...</button ></p> -->
                <form th:action="@{/producto/{id}/photo(id=${prod.id})}" method="POST" enctype="multipart/form-data">
                    Nueva foto <input type="file" name="photo"/>
                <button type="submit">Actualizar</button>
                </form>
            </td>
            <td>
                <form method="post" th:action="@{'/admin/modificarProducto/' + ${prod.id}}">
                    <h4>Información del producto</h4>
                    <p>
                        <label for="nombre" class="sr-only">Nombre producto: </label>
                        <input type="text" id="nombre" name="nombre" 
                          class="form-control" placeholder="Producto" th:value="${prod.nombre}" required="required"></input>
                    </p>
                    <p>
                        <label for="categorias" class="sr-only">Categoría: </label>
                        <input type="text" id="categorias" name="categorias" 
                          class="form-control" placeholder="Categoria" th:value="${prod.categorias}" required="required"></input>
                    </p>
                    <p>
                        <label for="desc" class="sr-only">Descripción: </label>
                        <input type="text" id="desc" name="desc" 
                          class="form-control" placeholder="Descripcion" th:value="${prod.desc}" required="required"></input>
                    </p>
                    <p>
                        <label for="talla" class="sr-only">Talla: </label>
                        <input type="text" id="talla" name="talla" 
                          class="form-control" placeholder="Talla" th:value="${prod.talla}" required="required"></input>
                    </p>
                
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Modificar Producto</button>
                </form>
            </td>
        </tr>
    </table>
    <th:block th:replace="frags/pie.html">
    Aqui va lo que hay en header, esto no se ve
    </th:block>
</body>
</html>