<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style>
        td, th { border: 1px solid grey; text-align: center;}
        table { padding: 0; }
    </style>
    <title>Perfil</title>
</head>

<body>
    <nav th:replace="frags/nav.html :: nav">
		Nav goes here
	</nav>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>

    <div>
        <!--<p>Solo en caso de Administrador al visitar un perfil.</p>
        <button>Administrar Usuario</button> <button>Administrar Productos</button>-->
        <p th:if="${session.u.hasRole('ADMIN')}">Solo en caso de Administrador al visitar un perfil.

         <button><a th:href="@{/message}">Mensajes</a></button>   <button>Notificaciones</button>
        
        </p>

        <p>
            <h3>Perfil - <span th:text="${user.nombre}"></span> <span th:text="${user.apellidos}"></span> - <span th:text="${user.username}"></span></h3>
            <button class="btn btn-lg btn-primary btn-block" type="button"> <a th:href="@{'/perfil/modificarPerfil/' + ${user.id}}">Editar perfil </a></button>
        </p>

        <!--<img src="../static/img/ipsum.jpg" th:src="@{/img/ipsum.jpg}" alt="foto"/>-->
        <img th:src="@{/perfil/{id}/photo(id=${user.id})}"  width="350" height="400">
        <p> <b>SALDO:</b> 
            <span th:text="${user.saldo}">saldo</span>€  
            <button class="btn btn-lg btn-primary btn-block" type="button"> <a th:href="@{'/perfil/depositarFondo/' + ${user.id}}">Depositar fondo </a></button>
            <button class="btn btn-lg btn-primary btn-block" type="button"> <a th:href="@{'/perfil/retirarFondo/' + ${user.id}}">Retirar fondo </a></button>
        </p> 
        <div>
        <p>
            <b>Pujas Activas:</b> <button>Ver todo</button>
            <table>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre Producto</th>
                    <th>Puja(€)</th>
                    <!--<th>Puja más alta(€)</th>
                    <th>Precio más bajo(€)</th>-->
                    <th>Expiración(Días)</th>
                    <th>Cancelar Antes</th>
                </tr>

                <tr th:each="p: ${pujas}">
                    <td><img th:src="@{/producto/{id}/photo(id=${p.producto.id})}" alt="foto"/></td>
                    <td><a th:href="@{'/producto/' + ${p.producto.id}}" th:text="${p.producto.nombre}">N</a></td>
                    <td th:text="${p.precio}">D</td>
                    <!--<td th:text="${p.mejorPuja}">D</td>
                    <td th:text="${p.menorPrecio}">D</td>-->
                    <td th:text="${p.fechaExpiracion}">C</td>
                    <td><form method="post" th:action="@{'/oferta/eliminarOferta/' + ${p.id}}">
                        <input type="hidden" name="precio" th:value="${p.precio}">
                        <input type="hidden" name="idOferta" th:value="${p.id}">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Cancelar Ahora</button>
                    </form>
                    </td>
                </tr>
            </table>
        </p>
        </div>
        
        <div>
            <p>
                <b>Compras Realizadas:</b> <button>Ver todo</button>
                <table>
                    <tr>

                        <th>Imagen</th>
                        <th>Nombre Producto</th>
                        <th>Venta(€)</th>
                        <th>Estado</th>
                        <th>Fecha de Intercambio</th>

                    </tr>
                    <!-- MIRAR COMO HACER QUE LAS FECHAS QUEDEN EN UN FORMATO DECENTE -->
                    <tr th:each="p: ${tCompras}">
                        <td><img th:src="@{/producto/{id}/photo(id=${p.producto.id})}" alt="foto"/></td>
                        <td><a th:href="@{'/producto/' + ${p.producto.id}}" th:text="${p.producto.nombre}">N</a></td>
                        <td th:text="${p.precio}">D</td>
                        <td th:text="${p.estado}">C</td>
                        <td th:text="${p.fechaTransaccion}">F</td>
                    </tr>
                </table>
            </p>
        </div>

        <div>
            <p>
                <b>Productos que estas vendiendo:</b> <button>Ver todo</button>
                <table>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre Producto</th>
                        <th>Venta(€)</th>
                       <!-- <th>Puja más alta(€)</th>
                        <th>Precio más bajo(€)</th>-->
                        <th>Expiración(Días)</th>
                        <th>Cancelar Antes</th>
                    </tr>
                    <tr th:each="p: ${precios}">
                        <td><img th:src="@{/producto/{id}/photo(id=${p.producto.id})}" alt="foto"/></td>
                        <td><a th:href="@{'/producto/' + ${p.producto.id}}" th:text="${p.producto.nombre}">N</a></td>
                        <td th:text="${p.precio}">D</td>
                        <!--<td th:text="${p.producto.highestBid}">D</td>
                        <td th:text="${p.producto.lowestAsk}">D</td>-->
                        <td th:text="${p.fechaExpiracion}">F</td>
                        <td><form method="post" th:action="@{'/oferta/eliminarOferta/' + ${p.id}}">
                            <input type="hidden" name="precio" th:value="${p.precio}">
                            <input type="hidden" name="idOferta" th:value="${p.id}">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Cancelar Ahora</button>
                        </form>
                        </td>
                    </tr>
                </table>
            </p>
        </div>

        <div>
            <p>
                <b>Productos Vendidos:</b> <button>Ver todo</button>
                <table>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre Producto</th>
                        <th>Venta(€)</th>
                        <th>Estado</th>
                        <th>Fecha de Intercambio</th>
                    </tr>
                    <tr th:each="p: ${tVentas}">
                        <td><img th:src="@{/producto/{id}/photo(id=${p.producto.id})}" alt="foto" /></td>
                        <td><a th:href="@{'/producto/' + ${p.producto.id}}" th:text="${p.producto.nombre}">N</a></td>
                        <td th:text="${p.precio}">D</td>
                        <td th:text="${p.estado}">C</td>
                        <td th:text="${p.fechaTransaccion}">F</td>
                    </tr>
                </table>
            </p>
        </div>
    </div>

    <div>
        <th:block th:replace="frags/pie.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>

</body>
</html>