<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Producto</title>
</head>
<body>
    <nav th:replace="frags/nav.html :: nav">
		Nav goes here
	</nav>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>


    <b><p th:text="${prod.nombre}">Producto</p></b>

    <p sec:authorize="isAuthenticated()"><button th:if="${session.u.hasRole('ADMIN')}" type="button"> <a th:href="@{'/admin/modificarProducto/' + ${prod.id}}">Editar Producto </a></button></p>
    <img th:src="@{/producto/{id}/photo(id=${prod.id})}" alt="foto" width=200px/>
    <p th:text="${prod.desc}"> Descripción</p>
    <p th:text="${prod.categorias}"> Categoria</p>
    <p>Talla: <span th:text="${prod.talla}"> T</span></p>
    <p th:if="${ultimaVenta != 0}">Ultima venta: <span th:text="${ultimaVenta}"> UV</span>€ <button><a th:href="@{'/oferta/listaVentas/' + ${prod.id}}">Ver todas las ventas</a></button></p>
    <p th:if="${ultimaVenta == 0}">Ultima venta: --- €</p>
    <p th:if="${menorPrecio != 0}">Precio mas bajo: <span th:text="${menorPrecio}"> LA</span>€  <button><a class="productoComprarYa" th:href="@{'/producto/compra/' + ${prod.id}}">Comprar ya</a></button>  <button><a class="precioProducto" th:href="@{'/oferta/fijarPrecio/' + ${prod.id}}">Fijar Precio</a></button> <button><a th:href="@{'/oferta/listaPrecios/' + ${prod.id}}">Ver lista de precios</a></button></p>
    <p th:if="${menorPrecio == 0}">Precio mas bajo: --- €  <button><a th:href="@{'/oferta/fijarPrecio/' + ${prod.id}}">Fijar precio</a></button> </p>
    <p th:if="${mejorPuja != 0}">Puja mas alta: <span th:text="${mejorPuja}"> HB</span>€  <button><a th:href="@{'/producto/venta/' + ${prod.id}}">Vender ya</a></button> <button><a class="pujarProducto" th:href="@{'/oferta/pujar/' + ${prod.id}}">Pujar</a></button>   <button><a th:href="@{'/oferta/listaPujas/' + ${prod.id}}">Ver lista de pujas</a></button></p>
    <p th:if="${mejorPuja == 0}">Puja mas alta: --- €  <button><a th:href="@{'/oferta/pujar/' + ${prod.id}}">Pujar</a></button></p>
   <!-- ruta del proyecto  es/ucm/fdi/...
    hacer un getmapping por vista
    hacer en resources templates un html por vista
    el getmapping hace un return que es el nombre del templates
    Tenemos que tener fragmentos - por ejemplo productos en caso de tiendas -->
    <th:block th:replace="frags/pie.html">
        Aqui va lo que hay en header, esto no se ve
    </th:block>
</body>
</html>