<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Producto</title>
</head>
<body>
    <nav th:replace="frags/nav.html :: nav">
		Nav goes here
	</nav>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>


    <b><p th:text="${prod.nombre}">Producto</p></b>

    <p><button th:if="${session.u.hasRole(session.u.getRol())}" type="button"> <a th:href="@{'/modificarProducto/' + ${prod.id}}">Editar Producto </a></button></p>
    <img src="../static/img/yeezy700.png" th:src="@{/img/yeezy700.png}" alt="foto" width=200px/>
    <p th:text="${prod.desc}"> Descripción</p>
    <p th:text="${prod.categorias}"> Categoria</p>
    <p>Talla: <span th:text="${prod.talla}"> T</span> EUR</p>
    <p th:if="${ultimaVenta != 0}">Ultima venta: <span th:text="${ultimaVenta}"> UV</span>€ <button>Ver todas las ventas</button></p>
    <p th:if="${ultimaVenta == 0}">Ultima venta: --- €</p>
    <p th:if="${menorPrecio != 0}">Precio mas bajo: <span th:text="${menorPrecio}"> LA</span>€  <button><a th:href="@{'/compra/' + ${prod.id}}">Comprar ya</a></button>  <button><a th:href="@{'/pujar/' + ${prod.id}}">Pujar</a></button> <button><a th:href="@{'/listaPrecios/' + ${prod.id}}">Ver lista de precios</a></button></p>
    <p th:if="${menorPrecio == 0}">Precio mas bajo: --- €  <button><a th:href="@{'/fijarPrecio/' + ${prod.id}}">Fijar precio</a></button> </p>
    <p th:if="${menorPuja != 0}">Puja mas alta: <span th:text="${mejorPuja}"> HB</span>€  <button><a th:href="@{'/venta/' + ${prod.id}}">Vender ya</a></button> <button><a th:href="@{'/fijarPrecio/' + ${prod.id}}">Fijar precio</a></button>   <button><a th:href="@{'/listaPujas/' + ${prod.id}}">Ver lista de pujas</a></button></p>
    <p th:if="${mejorPuja == 0}">Puja mas alta: --- €  <button><a th:href="@{'/pujar/' + ${prod.id}}">Pujar</a></button></p>
   <!-- ruta del proyecto  es/ucm/fdi/...
    hacer un getmapping por vista
    hacer en resources templates un html por vista
    el getmapping hace un return que es el nombre del templates
    Tenemos que tener fragmentos - por ejemplo productos en caso de tiendas -->
    <th:block th:replace="frags/pie.html">
        Aqui va lo que hay en header, esto no se ve
    </th:block>
</body>
</html>