<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style>
        td, th { border: 1px solid grey; text-align: center; border-spacing: 10px;}
        table { padding: 0; }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Pujar un producto</title>
</head>
<body>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>
    <table>
        <tr>
            <td>
                <b><p th:text="${prod.nombre}">Producto</p></b>
                <p th:if="${menorPrecio != 0}">Precio mas bajo: <span th:text="${menorPrecio} ">LA</span>€</p>
                <p th:if="${menorPrecio == 0}">Precio mas bajo: --- €</p>
                <p th:if="${mejorPuja != 0}">Puja más alta: <span th:text="${mejorPuja} ">LA</span>€</p> 
                <p th:if="${mejorPuja == 0}">Puja mas alta: --- € </p> 
                <p>Talla: <span th:text="${prod.talla}">N</span></p>
                <img th:src="@{/producto/{id}/photo(id=${prod.id})}" alt="foto" width="350" height="400"/>
            </td>
            <td>
                <form method="post" th:action="@{'/oferta/pujar/' + ${prod.id}}">
                    <h4>Información de la puja</h4>
                    <p>Ten en cuenta que al precio que establezcas se le sumarán el 9% de tasas y 10€ de envio</p>
                    <p>El dinero sera restado de tu saldo al realizar la puja, y devuelto si la cancelas.</p>
                    <div class="container-fluid">
                    <div class="row p-2">
                        <div class="col-4">

                        </div>
                        <div class="col-4 col-offset-4">
                            <div class="input-group">

                                <label for="precio" class="sr-only">Precio de puja: </label>
                                <input type="text" id="precio" name="precio" 
                                class="form-control" placeholder="Precio" required="required"></input>
                            </div>
                        </div>
                        <div class="col-4">

                        </div>
                    </div>
                </div>
                    <p>
                        <label for="tiempoExpiracion" >Tiempo de expiración (dias): </label>
                        <select name="tiempoExpiracion" class="form-select">
                            <option>1</option>
                            <option>3</option>
                            <option>7</option>
                            <option>14</option>
                            <option>30</option>
                            <option>60</option>
                        </select>
                    </p>
                    <button class="btn btn-lg btn-primary btn-xs" id="pujaProducto" type="submit">Pujar</button>
                </form>
            </td>
        </tr>
    </table>
    <th:block th:replace="frags/pie.html">
    Aqui va lo que hay en header, esto no se ve
    </th:block>
</body>
</html>