<!DOCTYPE html>
<html>
  <head>
    <title>Registrar Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div>
      <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
      </th:block>
      <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css" /> <!-- El css para el registro es igual que el de login -->
    </div>
    <div class="login-dark">
      <form  method="post" th:action="@{/registro}">
        <h2 class="sr-only">Por favor, para poder pujar y comprar productos, registrese:</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div class="form-group">
          <input type="text" id="username" name="username" 
            class="form-control" placeholder="Nombre de Usuario" required="required"></input>
        </div>
        <div class="form-group">
          <input type="text" id="name" name="name" 
            class="form-control" placeholder="Nombre" required="required"></input>
        </div>
        <div class="form-group">
          <input type="text" id="surname" name="surname" 
            class="form-control" placeholder="Apellidos" required="required"></input>
        </div>
        <div class="form-group">
          <input type="password" id="password" name="password" 
            class="form-control" placeholder="Contraseña" required="required"></input>
        </div>
        <div class="form-group">
          <input type="password" id="password2" name="password2" 
            class="form-control" placeholder="Repita contraseña" required="required"></input>
        </div>
        <div class="form-group">
          <input type="submit" value="Registrarme" class="btn btn-primary btn-block"></input>
        </div>
        <p class="forgot">¿Ya estas registrado?</p><a  class="text-center" th:href="@{/login}" href="/login">Haz login aqui</a>
        <div th:if="${errorRU==1}"  class="container-fluid text-center align-middle align-items-center">
          <div class="row m-2 border border-danger border-5 rounded">
              <div class="col-12 mt-2">
                  <p class="font-monospace" >ERROR: El nombre de usuario ya existe, elige otro</p>
              </div>
          </div>
        </div>
        <div th:if="${errorRC==1}"  class="container-fluid text-center align-middle align-items-center">
          <div class="row m-2 border border-danger border-5 rounded">
              <div class="col-12 mt-2">
                  <p class="font-monospace" >ERROR: Las contraseñas no coinciden.</p>
              </div>
          </div>
        </div>
      </form>
    </div>
  <div>
    <th:block th:replace="frags/pie.html">
        Aqui va lo que hay en header, esto no se ve
    </th:block>
  </div>
</body></html>