<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style>
        td, th { border: 1px solid grey; text-align: center;}
        table { padding: 0; }
    </style>
    <title>NewChance Shop</title> 
</head>
<body>
    <nav th:replace="frags/nav.html :: nav">
		Nav goes here
	</nav>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>
    <p>
        <!-- También es viable de esta forma: (Elegir en el futuro cuál es preferible)

            <form th:action="@{/logout}" method="post">
				<button type="submit">logout</button>
			</form>
        -->
        
        <button class="adminProductos" type="button" th:if="${session.u.hasRole('ADMIN')}" > <a th:href="@{/admin/adminProductos}">Administrar Producto </a></button>
        <button class="btn btn-lg btn-primary btn-block" type="button" th:if="${session.u.hasRole('ADMIN')}"> <a th:href="@{/admin/formularioProducto}">Nuevo Producto </a></button>
    </p>
    <div>
        <p>
            <b>Productos:</b>
               <table>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Categoría</th>
                        <th>Talla (EUR)</th>
                        <!--<th>Maxima Puja</th>
                        <th>Menor Precio</th>-->
                        <th>Opciones</th>
                    </tr>
                    <tr th:each="p: ${prods}">
                        <td><img th:src="@{/producto/{id}/photo(id=${p.id})}" alt="foto" width="100" height="150"/></td>
                        <td><a class="productoTienda" th:href="@{'/producto/' + ${p.id}}" th:text="${p.nombre}">N</a></td>
                        <td th:text="${p.desc}">D</td>
                        <td th:text="${p.categorias}">C</td>
                        <td th:text="${p.talla} ">T</td>
                        <!--<td th:text="${mp}">MP</td>
                        <td th:text="${mprec}">MP</td>-->
                        <td>
                            <p>
                                <!-- en estos botones controlar que: si el producto no tiene aun ninguna
                                oferta o precio de venta, entonces estos botones no deberian de aparecer,
                                ya que  todavia no se podrian realizar dichas operaciones-->
                                <button class="tiendaCompraAhora"><a th:href="@{'/producto/compra/' + ${p.id}}">Comprar ya</a></button>
                                <button><a th:href="@{'/producto/venta/' + ${p.id}}">Vender ya</a></button>
                            </p>
                            <p>
                                <button class="tiendaPujar"><a th:href="@{'/oferta/pujar/' + ${p.id}}">Pujar</a></button>
                                <button><a th:href="@{'/oferta/fijarPrecio/' + ${p.id}}">Fijar precio</a></button> 
                            </p>
                        </td>
                    </tr>
                </table>
        </p>
    </div>

   <!-- ruta del proyecto  es/ucm/fdi/...
    hacer un getmapping por vista
    hacer en resources templates un html por vista
    el getmapping hace un return que es el nombre del templates
    Tenemos que tener fragmentos - por ejemplo productos en caso de tiendas -->
    <div>
        <th:block th:replace="frags/pie.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>

</body>
</html>