<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Chat</title>
</head>
<body>
    <nav th:replace="frags/nav.html :: nav">
		Nav goes here
	</nav>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>

    <div>
        <div th:each="r: ${recibidos}">
            <p><span th:text="${r.fechaEnvio}"></span></p>
                <p><span th:text="${user.nombre}"></span> <span th:text="${user.apellidos}"></span>: <span th:text="${r.mensaje}"></span></p>
        </div>
        <div>
            <input type="text"></input><button>Enviar</button>
        </div>
    </div>
    <div>
        <th:block th:replace="frags/pie.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>
</body>
</html>