<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Producto</title>
</head>
<body>
    <nav th:replace="frags/nav.html :: nav">
		Nav goes here
	</nav>
    <div>
        <th:block th:replace="frags/header.html">
            Aqui va lo que hay en header, esto no se ve
        </th:block>
    </div>


    <b><p th:text="${prod.nombre}">Producto</p></b>
    <img src="../static/img/yeezy700.png" th:src="@{/img/yeezy700.png}" alt="foto"/>
    <p th:text="${prod.desc}"> Descripción</p>
    <p th:text="${prod.categorias}"> Categoria</p>
    <p>Talla: <span th:text="${prod.talla}"> T</span> EUR</p>
    <p>Ultima venta: <span th:text="${ultimaVenta}"> UV</span>€ <button>Ver todas las ventas</button></p>
    <p>Precio mas bajo: <span th:text="${menorPrecio}"> LA</span>€ <button>Comprar ya</button> <button>Pujar</button> <button>Ver lista de precios</button></p>
    <p>Puja mas alta:<span th:text="${mejorPuja}"> HB</span>€ <button>Vender ya</button> <button>Fijar precio</button> <button>Ver lista de pujas</button></p>

   <!-- ruta del proyecto  es/ucm/fdi/...
    hacer un getmapping por vista
    hacer en resources templates un html por vista
    el getmapping hace un return que es el nombre del templates
    Tenemos que tener fragmentos - por ejemplo productos en caso de tiendas -->
    <th:block th:replace="frags/pie.html">
        Aqui va lo que hay en header, esto no se ve
    </th:block>
</body>
</html>